<script>

if (getInfoFromURL("tracktype") === "reposts") {  
    activateLinkNavbarContent("reposts-link")
    document.title = pageTitleText.ArtistReposts
    getArtistReposts()    
}

function getArtistReposts() {
    getClassPutHTML(
        "artist-reposts", 
        "beforeEnd",
        `
        <div class="artist-reposts-container">
            <h1>REPOSTS</h1>
            <div class="no-content">
                <img src="/media/no-content-artist-reposts.png" class="no-content-img">
                <div class="no-content-text-up"></div>
                <div class="no-content-text-down">
                    ${getInfoFromURL("artist")} hasn’t reposted any sounds yet.
                </div>
            </div>
        </div>    
    `)
}
  
    
</script>