<div class="artist-header">
    <div class="background-artist">      
        <img class="background-artist-img" src="{{ MEDIA_URL }}/media/{{ artist_info.header_image }}"></img>
    </div>
    <div class="artist-info">
        <div class="avatar-profile-block">
            <img class="avatar-profile-img" src="{{ MEDIA_URL }}/media/{{ artist_info.avatar_image }}"></img>
            {% if request.user.is_authenticated %}
            <div class="edit-avatar-button">
                <button onclick="editAvatarDrop()" class="avatar-button"><i class="fa-solid fa-camera"></i>&nbsp Update image</button>
                <div class="dropdown-content-edit-avatar">
                    <a href="#">Replace image</a>
                    <a href="#">Delete image</a>                
                </div>
            </div>
            {% endif%}            
        </div>
        <div class="artist-data">          
            <div class="nick-name">{{ artist_info.display_name }}
              {% if artist_info.verification %} 
              &nbsp<i class="fa-solid fa-circle-check" style="color: #3588d8; background-color: white; border-radius: 50%;"></i>
              {% endif %}
            </div>  
            <div class="name">{{ artist_info.first_name }} {{ artist_info.last_name }}</div>
            <div class="country-city">{{ artist_info.city }}, {{ artist_info.country }}</div>
            {% if artist_info.username__pro_user %}          
            <div class="pro-user"><i class="fa-solid fa-certificate" style="color: #fe5621;"></i>&nbsp NEXT PRO</div>
            {% endif %}          
        </div>
        {% if request.user.is_authenticated %}
        <div class="edit-background">
            <button onclick="editBackgroundDrop()" class="background-button"><i class="fa-solid fa-camera"></i>&nbsp Update image</button>
            <div class="dropdown-content-edit-background">
                <a href="#">Replace image</a>
                <a href="#">Delete image</a>                
            </div>
        </div>
        {% endif%}
    </div>
</div>


<script>

// edit avatar
function editAvatarDrop() {  
  document.querySelector(".dropdown-content-edit-avatar").classList.toggle("show-edit-avatar");  
}  
document.addEventListener("click", function(event) {
  if (!event.target.matches(".avatar-button")) { 
    document.querySelector(".dropdown-content-edit-avatar").classList.remove("show-edit-avatar");
  }
}); 


// edit background
function editBackgroundDrop() {  
  document.querySelector(".dropdown-content-edit-background").classList.toggle("show-edit-background");  
}  
document.addEventListener("click", function(event) {
  if (!event.target.matches(".background-button")) { 
    document.querySelector(".dropdown-content-edit-background").classList.remove("show-edit-background");
    // document.getElementsByClassName("background-button")[0].style.opacity = "0";
  }
}); 

</script>

{% include 'modal-image-view.html' %}