<script>

if (getInfoFromURL("tracktype") === "albums") {  
    activateLinkNavbarContent("albums-link") 
    document.title = pageTitleText.ArtistAlbums
    getArtistAlbums()   
}
    
function getArtistAlbums() {
    getClassPutHTML(
        "artist-albums", 
        "beforeEnd",
        `
        <div class="artist-albums-container">
            <h1>ALBUMS</h1>
            <div class="no-content">
                <img src="/media/no-content-artist-albums.png" class="no-content-img">
                <div class="no-content-text-up"></div>
                <div class="no-content-text-down">
                    ${getInfoFromURL("artist")} hasn’t created any albums yet.
                </div>
            </div>
        </div>    
    `)
} 

</script>