<!--------------------------------------------------------------- main player ------------------------------------------------------------->

<script>

const currentUser = "{{ request.user }}"
const getArtistPage = ("{{request.path}}").slice(1, -1)

async function getAllTrack() {
  const data = await fetch(`http://127.0.0.1:8000/api/${getArtistPage}/show-tracks/`)
  const trackList = await data.json()
  
  trackList.forEach(track => trackToHTML(track))
}

window.addEventListener("DOMContentLoaded", getAllTrack)

function trackToHTML( {
  id, 
  title, 
  track_file,
  cover_image, 
  genre, 
  tag, 
  public_access,
  publish_date,
  update_date,
  discription,
  copy_link,
  download_access,
  buy_link,
  likes,
  artist }) {  
   
  // get time ago  
  timeAgo = (input) => {
    const date = (input instanceof Date) ? input : new Date(input)
    const formatter = new Intl.RelativeTimeFormat('en')
    const ranges = {
        years: 3600 * 24 * 365,
        months: 3600 * 24 * 30,
        weeks: 3600 * 24 * 7,
        days: 3600 * 24,
        hours: 3600,
        minutes: 60,
        seconds: 1
    }
    const secondsElapsed = (date.getTime() - Date.now()) / 1000
    for (let key in ranges) {
        if (ranges[key] < Math.abs(secondsElapsed)) {
        const delta = secondsElapsed / ranges[key]
        return formatter.format(Math.round(delta), key)
        }
    }
  }


  artistId = artist.id  
  artistName = artist.display_name
  trackId = id  
  trackFile = track_file
  const like_counter = getAjaxLikeData(trackId, csrftoken)
  const publish_date_ago = timeAgo(publish_date)
  
  const trackContainer = document.getElementById("artist-tracks") 

  

  trackContainer.insertAdjacentHTML('beforeend', `
    <div class="audio-container" id="audio-container${id}">
      <!-- track image -->
      <div class="track-img">
        <img class="cover-img" id="cover-img${id}" src="${cover_image}">
      </div>

      <!-- track info top -->
      <div class="track-container">
        <div class="track-top-info">
          <span class="main-play-button" id="main-play-button${id}">
            <i class="fa-solid fa-circle-play"></i>
            <i class="fa-solid fa-circle-pause"></i>
          </span>
          <div class="name-container">
            <div class="name-artist" id="name-artist${id}"><a class="name-artist-a" href="#">${artistName}</a></div>
            <div class="name-track" id="name-track${id}"><a class="name-track-a" href="#">${title}</a></div>
          </div>
          <div class="date-tag-container">
            <div class="date-track" id="date-track${id}">${publish_date_ago}</div>
            <div class="tag-track" id="tag-track${id}">#${genre}</div>
          </div>
        </div>

        <!-- wave form -->
        <div class="waveform" id="waveform${id}">
            <div class="time" id="time${id}">0:00</div>
            <div class="duration" id="duration${id}">0:00</div>
            <div class="hover" id="hover${id}"></div>
        </div>          

        <!-- track info botton -->
        <div class="track-bottom-container">
          <button class="like-button default-bt" id="like-button${id}"><i class="fa-solid fa-heart"></i>
            <div class="like-button-text" id="like-button-text${id}" style="display: contents;">${like_counter}</div>
          </button>
          <button class="share-button default-bt" id="share-button${id}"><i class="fa-solid fa-share-from-square"></i>&nbsp Share</button>
          <button class="copy-link-button default-bt" id="copy-link-button${id}"><i class="fa-solid fa-link"></i>&nbsp Copy Link</button>
          <button class="edit-button default-bt" id="edit-button${id}"><i class="fa-solid fa-pen"></i>&nbsp Edit</button>
          <button class="more-button default-bt" id="more-button${id}"><i class="fa-solid fa-ellipsis"></i>&nbsp More</button>
          <button class="download-button default-bt" id="download-button${id}"><i class="fa-solid fa-download" style="color: #fe5621"></i></button>
          <div class="buy-button" id="buy-button${id}"><a class="buy-button-a" href="#">Buy</a></div>
          <div class="play-like-repost-bottom">            
            <div class="play-counter" id="play-counter${id}"><i class="fas fa-play"></i>&nbsp </div> 
            <div class="repost-counter" id="repost-counter${id}"><a class="repost-counter-a" href="#"><i class="fa-solid fa-retweet"></i>&nbsp </a></div>
            <div class="comment-counter" id="comment-counter${id}"><a class="comment-counter-a" href="#"><i class="fa-solid fa-message"></i>&nbsp </a></div>
          </div>
        </div>
      </div>  
    </div>  
  `)

  getWaveForm(trackId, trackFile)

  getDominantImageColor(id)

}

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script>

  window.onload = () => {
    getDominantImageColor = (id) => {        
        let sourceImage = document.querySelector(`#cover-img${id}`)
        let background = document.querySelector(`#audio-container${id}`)        
        
        let colorThief = new ColorThief()
        // get color palette
        let color = colorThief.getColor(sourceImage)        
        // set the background color
        background.style.backgroundColor = "rgb(" + color + ")"
    }
    // getDominantImageColor()
  }

</script>

<!--------------------------------------------------------------- footer player ------------------------------------------------------------->

<div class="footer-player">
  <div class="footer-buttons">

    <!-- navigation button -->
    <span class="footer-back-button button-st">
      <i class="fa-solid fa-backward-step"></i>      
    </span> 
    <span class="footer-play-button button-st">
      <i class="fas fa-play"></i>
      <i class="fas fa-pause"></i>
    </span>  
    <span class="footer-next-button button-st">
      <i class="fa-solid fa-forward-step"></i>      
    </span>
    <span class="footer-repeat-button button-st">
      <i class="fa-solid fa-repeat"></i>      
    </span>

    <!-- progress line -->
    <div class="footer-container-line-and-time">
      <div class="footer-play-line-start button-st">
        <div style="color: #fe5621" id="time-line">0:00</div>      
      </div>
      <div class="footer-container-play-line">
        <input class="footer-play-line-slider slider" type="range" min="0" max="" step="any" value="0" />
      </div>
      <div class="footer-play-line-end button-st">      
        <div id="duration-line">0:00</div>
      </div>
    </div> 

      <!-- mute\unmute and volume -->
      <div class="footer-speaker-container">
        <span class="footer-speaker-button">
          <i class="fas fa-volume-up"></i>
          <i class="fas fa-volume-mute"></i>
        </span> 
        <div class="footer-container-volume">
          <input class="footer-volume-slider slider" type="range" min="0" max="1" step="any" value="0.2" />
        </div> 
      </div>

      <!-- mini info -->
      <div class="mini-player">
        <div class="mini-cover-bottom">
          <img class="mini-cover-img" src="">
        </div>
        <div class="mini-info-bottom">
          <div class="mini-name-artist"><a class="mini-name-artist-a" href="#">Artist</a></div>
          <div class="mini-name-track"><a class="mini-name-track-a" href="#">A Living Room </a></div>
        </div>
        <div class="mini-like-follow-list">
          <div class="mini-like"><a class="mini-like-a" href="#"><i class="fa-solid fa-heart"></i></a></div>
          <div class="mini-follow"><a class="mini-follow-a" href="#"><i class="fa-solid fa-user-check"></i></a></div>
          <div class="mini-list"><a class="mini-list-a" href="#"><i class="fa-solid fa-list-check"></i></a></div>
        </div>
      </div>
      
  </div>
</div>


