{% load static %}

<!--------------------------------------------------------------- main player ------------------------------------------------------------->

<!-- data for audio js -->
{{ artist_track|json_script:"artist-track-json-data" }}

<!-- data for likes js -->
{{ active_artist_info|json_script:"artist-likes-json-data" }}

{% for artist_track in artist_track %}

<div class="audio-container">  

    <!-- track image -->
    <div class="track-img">
      <img class="cover-img" id="cover-img{{ artist_track.track__id }}" src="/media/{{ artist_track.track__cover_image }}">
    </div>

    <!-- track info top -->
    <div class="track-container">
      <div class="track-top-info">
        <span class="main-play-button" id="main-play-button{{ artist_track.track__id }}">
          <i class="fa-solid fa-circle-play"></i>
          <i class="fa-solid fa-circle-pause"></i>
        </span>
        <div class="name-container">
          <div class="name-artist" id="name-artist{{ artist_track.track__id }}"><a class="name-artist-a" href="#">{{ artist_info.display_name }}</a></div>
          <div class="name-track" id="name-track{{ artist_track.track__id }}"><a class="name-track-a" href="#">{{ artist_track.track__title }}</a></div>
        </div>
        <div class="date-tag-container">
          <div class="date-track" id="date-track{{ artist_track.track__id }}">{{ artist_track.track__publish_date }}</div>
          {% if artist_track.track__genre != None %}
          <div class="tag-track" id="tag-track{{ artist_track.track__id }}"># {{ artist_track.track__genre }}</div>
          {% endif %}
        </div>
      </div>

      <!-- wave form -->
      <div class="waveform" id="waveform{{ artist_track.track__id }}">
          <div class="time" id="time{{ artist_track.track__id }}">0:00</div>
          <div class="duration" id="duration{{ artist_track.track__id }}">0:00</div>
          <div class="hover" id="hover{{ artist_track.track__id }}"></div>
      </div>          

      <!-- track info botton -->
      <div class="track-bottom-container">
        <button class="like-button default-bt" id="like-button{{ artist_track.track__id }}"><i class="fa-solid fa-heart"></i>
          <div class="like-button-text" id="like-button-text{{ artist_track.track__id }}" style="display: contents;"></div>
        </button>
        <button class="share-button default-bt" id="share-button{{ artist_track.track__id }}"><i class="fa-solid fa-share-from-square"></i>&nbsp Share</button>
        <button class="copy-link-button default-bt" id="copy-link-button{{ artist_track.track__id }}"><i class="fa-solid fa-link"></i>&nbsp Copy Link</button>
        {% for active_artist_info in active_artist_info %}
        {% if request.user.is_authenticated and artist_info.username__username == active_artist_info.username__username %}
        <button class="edit-button default-bt" id="edit-button{{ artist_track.track__id }}"><i class="fa-solid fa-pen"></i>&nbsp Edit</button>
        {% endif %}
        {% endfor %}
        <button class="more-button default-bt" id="more-button{{ artist_track.track__id }}"><i class="fa-solid fa-ellipsis"></i>&nbsp More</button>
        {% if artist_track.track__download_access %}
        <button class="download-button default-bt" id="download-button{{ artist_track.track__id }}"><i class="fa-solid fa-download" style="color: #fe5621"></i></button>
        {% endif %}
        {% if artist_track.track__buy_link != None %}
        <div class="buy-button" id="buy-button{{ artist_track.track__id }}"><a class="buy-button-a" href="#">Buy</a></div>
        {% endif %}
        <div class="play-like-repost-bottom">
          {% if artist_track.track__play_counter != 0 %}
          <div class="play-counter" id="play-counter{{ artist_track.track__id }}"><i class="fas fa-play"></i>&nbsp {{ artist_track.track__play_counter }}</div>
          {% endif %}
          {% if artist_track.track__repost_counter != 0 %}
          <div class="repost-counter" id="repost-counter{{ artist_track.track__id }}"><a class="repost-counter-a" href="#"><i class="fa-solid fa-retweet"></i>&nbsp {{ artist_track.track__repost_counter }}</a></div>
          {% endif %}
          {% if artist_track.track__comment_counter != 0 %}
          <div class="comment-counter" id="comment-counter{{ artist_track.track__id }}"><a class="comment-counter-a" href="#"><i class="fa-solid fa-message"></i>&nbsp {{ artist_track.track__comment_counter }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>

</div>

{% endfor %}

<script>

getAllTrack( async () => {
  const data = await fetch("http://127.0.0.1:8000/api/user2artist/show-tracks/")
  const track_list = await data.json()

  console.log(track_list)
  track_list.forEach(track => trackToHTML(track))
})

window.addEventListener("DOMContentLoaded", getAllTrack)

trackToHTML( (id, 
              title, 
              cover_image, 
              genre, 
              tag, 
              publish_date, 
              play_counter,
              like_counter,
              repost_counter,
              comment_counter, 
              artist) => {
  const trackContainer =document.getElementById("artist-tracks")

  trackContainer.insertAdjacentHTML('beforeend', `
    <div class="audio-container">
      <!-- track image -->
      <div class="track-img">
        <img class="cover-img" id="cover-img${id}" src="${cover_image}">
      </div>

      <!-- track info top -->
      <div class="track-container">
        <div class="track-top-info">
          <span class="main-play-button" id="main-play-button${id}">
            <i class="fa-solid fa-circle-play"></i>
            <i class="fa-solid fa-circle-pause"></i>
          </span>
          <div class="name-container">
            <div class="name-artist" id="name-artist${id}"><a class="name-artist-a" href="#">{{ artist_info.display_name }}</a></div>
            <div class="name-track" id="name-track${id}"><a class="name-track-a" href="#">${title}</a></div>
          </div>
          <div class="date-tag-container">
            <div class="date-track" id="date-track${id}">${publish_date}</div>
            <div class="tag-track" id="tag-track${id}">#${genre}</div>
          </div>
        </div>

        <!-- wave form -->
        <div class="waveform" id="waveform${id}">
            <div class="time" id="time${id}">0:00</div>
            <div class="duration" id="duration${id}">0:00</div>
            <div class="hover" id="hover${id}"></div>
        </div>          

        <!-- track info botton -->
        <div class="track-bottom-container">
          <button class="like-button default-bt" id="like-button${id}"><i class="fa-solid fa-heart"></i>
            <div class="like-button-text" id="like-button-text${id}" style="display: contents;"></div>
          </button>
          <button class="share-button default-bt" id="share-button${id}"><i class="fa-solid fa-share-from-square"></i>&nbsp Share</button>
          <button class="copy-link-button default-bt" id="copy-link-button${id}"><i class="fa-solid fa-link"></i>&nbsp Copy Link</button>
          <button class="edit-button default-bt" id="edit-button${id}"><i class="fa-solid fa-pen"></i>&nbsp Edit</button>
          <button class="more-button default-bt" id="more-button${id}"><i class="fa-solid fa-ellipsis"></i>&nbsp More</button>
          <button class="download-button default-bt" id="download-button${id}"><i class="fa-solid fa-download" style="color: #fe5621"></i></button>
          <div class="buy-button" id="buy-button${id}"><a class="buy-button-a" href="#">Buy</a></div>
          <div class="play-like-repost-bottom">            
            <div class="play-counter" id="play-counter${id}"><i class="fas fa-play"></i>&nbsp ${play_counter}</div> 
            <div class="repost-counter" id="repost-counter${id}"><a class="repost-counter-a" href="#"><i class="fa-solid fa-retweet"></i>&nbsp ${repost_counter}</a></div>
            <div class="comment-counter" id="comment-counter${id}"><a class="comment-counter-a" href="#"><i class="fa-solid fa-message"></i>&nbsp ${comment_counter}</a></div>
          </div>
        </div>
      </div>  
    </div>  
  `)
})

</script>

<!--------------------------------------------------------------- footer player ------------------------------------------------------------->

<div class="footer-player">
  <div class="footer-buttons">

    <!-- navigation button -->
    <span class="footer-back-button button-st">
      <i class="fa-solid fa-backward-step"></i>      
    </span> 
    <span class="footer-play-button button-st">
      <i class="fas fa-play"></i>
      <i class="fas fa-pause"></i>
    </span>  
    <span class="footer-next-button button-st">
      <i class="fa-solid fa-forward-step"></i>      
    </span>
    <span class="footer-repeat-button button-st">
      <i class="fa-solid fa-repeat"></i>      
    </span>

    <!-- progress line -->
    <div class="footer-container-line-and-time">
      <div class="footer-play-line-start button-st">
        <div style="color: #fe5621" id="time-line">0:00</div>      
      </div>
      <div class="footer-container-play-line">
        <input class="footer-play-line-slider slider" type="range" min="0" max="" step="any" value="0" />
      </div>
      <div class="footer-play-line-end button-st">      
        <div id="duration-line">0:00</div>
      </div>
    </div> 

      <!-- mute\unmute and volume -->
      <div class="footer-speaker-container">
        <span class="footer-speaker-button">
          <i class="fas fa-volume-up"></i>
          <i class="fas fa-volume-mute"></i>
        </span> 
        <div class="footer-container-volume">
          <input class="footer-volume-slider slider" type="range" min="0" max="1" step="any" value="0.2" />
        </div> 
      </div>

      <!-- mini info -->
      <div class="mini-player">
        <div class="mini-cover-bottom">
          <img class="mini-cover-img" src="">
        </div>
        <div class="mini-info-bottom">
          <div class="mini-name-artist"><a class="mini-name-artist-a" href="#">Artist</a></div>
          <div class="mini-name-track"><a class="mini-name-track-a" href="#">A Living Room </a></div>
        </div>
        <div class="mini-like-follow-list">
          <div class="mini-like"><a class="mini-like-a" href="#"><i class="fa-solid fa-heart"></i></a></div>
          <div class="mini-follow"><a class="mini-follow-a" href="#"><i class="fa-solid fa-user-check"></i></a></div>
          <div class="mini-list"><a class="mini-list-a" href="#"><i class="fa-solid fa-list-check"></i></a></div>
        </div>
      </div>
      
  </div>
</div>

