<div class="footer-player">
    <div class="footer-buttons">
  
      <!-- navigation button -->
      <span class="footer-back-button button-st">
        <i class="fa-solid fa-backward-step"></i>      
      </span> 
      <span class="footer-play-button button-st">
        <i class="fas fa-play"></i>
        <i class="fas fa-pause"></i>
      </span>  
      <span class="footer-next-button button-st">
        <i class="fa-solid fa-forward-step"></i>      
      </span>
      <span class="footer-repeat-button button-st">
        <i class="fa-solid fa-repeat"></i>      
      </span>
  
      <!-- progress line -->
      <div class="footer-container-line-and-time">
        <div class="footer-play-line-start button-st">
          <div style="color: #fe5621" id="time-line">0:00</div>      
        </div>
        <div class="footer-container-play-line">
          <input class="footer-play-line-slider slider" type="range" min="0" max="" step="any" value="0" />
        </div>
        <div class="footer-play-line-end button-st">      
          <div id="duration-line">0:00</div>
        </div>
      </div> 
  
        <!-- mute\unmute and volume -->
        <div class="footer-speaker-container">
          <span class="footer-speaker-button">
            <i class="fas fa-volume-up"></i>
            <i class="fas fa-volume-mute"></i>
          </span> 
          <div class="footer-container-volume">
            <input class="footer-volume-slider slider" type="range" min="0" max="1" step="any" value="0.2" />
          </div> 
        </div>
  
        <!-- mini info -->
        <div class="mini-player">
          <div class="mini-cover-bottom">
            <img class="mini-cover-img" src="">
          </div>
          <div class="mini-info-bottom">
            <div class="mini-name-artist"><a class="mini-name-artist-a" href="#">Artist</a></div>
            <div class="mini-name-track"><a class="mini-name-track-a" href="#">A Living Room </a></div>
          </div>
          <div class="mini-like-follow-list">
            <div class="mini-like"><a class="mini-like-a" href="#"><i class="fa-solid fa-heart"></i></a></div>
            <div class="mini-follow"><a class="mini-follow-a" href="#"><i class="fa-solid fa-user-check"></i></a></div>
            <div class="mini-list"><a class="mini-list-a" href="#"><i class="fa-solid fa-list-check"></i></a></div>
          </div>
        </div>
        
    </div>
</div>