<!-- HEADER -->

<script>

loadHeaderBlock()

async function loadHeaderBlock() {
    console.log("<---------- header start -------------->")

    console.log("1 - on spinner")
    putPreloadSpinner()

    console.log("2 - get header")
    await getHeader()  
        
    console.log("3 - load media")
    await loadImage('.avatar-profile-img')
    await loadImage('.background-artist-img')
        
    console.log("4 - load modal")
    ShowAvatarModalWindow() 
        
    console.log("5 - off spinner")
    hidePreloaderSpinner() 
        
    console.log("<---------- header end -------------->")    
}


async function getHeader() {
    const res = await fetch(`/api/${getInfoFromURL("artist")}/show-info/`)
    const data = await res.json() 
    data.forEach(item => infoToHTML(item))
}

function infoToHTML({
    display_name,
    slug_artist,
    profile_url,
    avatar_image,
    header_image,
    verification,
    first_name,
    last_name,
    city,
    country,
    bio,
    username }) {

    const currentUserName = parseCurrentArtistInfo("username", "username")   

    // show main code header
    getClassPutHTML(
        "artist-header", 
        "beforeEnd", 
        `         
        <div class="background-artist preload-content">      
            <img class="background-artist-img" src="${header_image}"></img>
        </div>
        <div class="artist-info">
            <div class="avatar-profile-block preload-content">
                <img class="avatar-profile-img" src="${avatar_image}"></img>  
            </div>
            <div class="artist-data"> 
                <div class="nick-name">${display_name} (logined: ${currentUser})</div>  
                <div class="name-block"></div>
                <div class="country-city-block"></div> 
            </div>
        </div>        
    `) 
        
    // show edit avatar button
    if (currentUserName === username.username) {
        getClassPutHTML(
            "avatar-profile-img", 
            "afterEnd",
            `
            <div class="edit-avatar-button">
                <button onclick="editAvatarDrop()" class="avatar-button"><i class="fa-solid fa-camera"></i>&nbsp Update image</button>
                <div class="dropdown-content-edit-avatar">
                    <a href="#">Replace image</a>
                    <a href="#">Delete image</a>                
                </div>
            </div>
        `)
    }    

    // show verification
    if (verification) {
        getClassPutHTML(
            "nick-name",
            "beforeEnd",
             `
            <i class="fa-solid fa-circle-check" style="color: #3588d8; background-color: white; border-radius: 50%;"></i>
        `)
    }

    // show first name
    if (first_name) {
        getClassPutHTML(
            "name-block",
            "afterBegin",
            `<div class="name">${first_name}</div>
        `)
    }

    // show last name
    if (last_name) {
        getClassPutHTML(
            "name-block",
            "beforeEnd",
            `<div class="name">${last_name}</div>
        `)
    }

    // show city
    if (city) {
        getClassPutHTML(
            "country-city-block",
            "afterBegin",
            `<div class="country-city">${city}</div>
        `)
    }

    // show country
    if (country) {
        getClassPutHTML(
            "country-city-block",
            "beforeEnd",
            `<div class="country-city">${country}</div>
        `)
    }

    // show pro user
    if (username.pro_user) {
        getClassPutHTML(
            "artist-data",
            "beforeEnd",
            `<div class="pro-user"><i class="fa-solid fa-certificate" style="color: #fe5621;"></i>&nbsp NEXT PRO</div>
        `)
    }

    // show edit header button
    if (currentUserName === username.username) {
        getClassPutHTML(
            "artist-data", 
            "afterEnd",
            `
            <div class="edit-background">
                <button onclick="editBackgroundDrop()" class="background-button"><i class="fa-solid fa-camera"></i>&nbsp Update image</button>
                <div class="dropdown-content-edit-background">
                    <a href="#">Replace image</a>
                    <a href="#">Delete image</a>                
                </div>
            </div>
        `)
    }

    // modal avatar view -------------------------------------------------------------/
    getIDPutHTML(
        "artist-header-container", 
        "afterEnd", 
        `  
        <div id="modal-image-view" class="modal">
            <div class="modal-content">
                <div class="modal-header"> 
                    ${display_name}           
                    <span id="span-image" class="close">&times;</span>       
                    <div class="dropdown-divider-avatar"></div>       
                </div>    
                <div class="modal-body">        
                    <img src="${avatar_image}"></img>      
                </div>       
            </div>
        </div>
    `)
}

//---------------------------------------------------------------------------------------------------------------------------//
//------------------------------------------- edit avatar and background ----------------------------------------------------//
//---------------------------------------------------------------------------------------------------------------------------//

// edit avatar
function editAvatarDrop() {  
    document.querySelector(".dropdown-content-edit-avatar").classList.toggle("show-edit-avatar")  
}  
document.addEventListener("click", function(event) {
    if (!event.target.matches(".avatar-button")) { 
        document.querySelector(".dropdown-content-edit-avatar").classList.remove("show-edit-avatar")
    }
})


// edit header
function editBackgroundDrop() {  
    document.querySelector(".dropdown-content-edit-background").classList.toggle("show-edit-background")  
}  
document.addEventListener("click", function(event) {
    if (!event.target.matches(".background-button")) { 
        document.querySelector(".dropdown-content-edit-background").classList.remove("show-edit-background")    
    }
}) 


//---------------------------------------------------------------------------------------------------------------------------//
//------------------------------------------- modal avatar view -------------------------------------------------------------//
//---------------------------------------------------------------------------------------------------------------------------//

function ShowAvatarModalWindow() {
    const modalWindow = document.querySelector("#modal-image-view")     
    const avatarImage = document.querySelector(".avatar-profile-img")    
    const closeModalWindow = document.querySelector("#span-image")    

    // if click on avatar show modal window
    avatarImage.onclick = () => {
        modalWindow.style.display = "block"    
    }    

    // close modal window on button close
    closeModalWindow.onclick = () => {
        modalWindow.style.display = "none"
    }

    // close modal window if click outside modal window
    window.onclick = (event) => {    
        if (event.target === modalWindow) {
            modalWindow.style.display = "none"
        }
    }
}

</script>