<!DOCTYPE html>

{% load static %}

<html>    
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SСсopy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='{% static "styles/main.css" %}'>

    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.min.css' %}">

    <!-- audioplayer -->
    <link rel='stylesheet' type='text/css' href='{% static "audioplayer/audioplayer.css" %}'>
    


</head>
<body>   
    

<div class="container-content">

    <div><h1>Index</h1></div>
    <div>
        <button class="login-button">Login</button>
    </div>    
    <div>
        <button class="registration-button">Registration</button>
    </div>    

    {% include 'modal-login-form.html' %}

    <!-- {% include 'modal-registration-form.html' %} -->

    {% include 'audioplayer.html' %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

</body>
</html>    