<!DOCTYPE html>

{% load static %}

{% for artist_info in artist_info %}

<html>    
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Stream {{ artist_info.display_name }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='{% static "styles/main.css" %}'>
    
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.min.css' %}">

    <!-- audioplayer -->
    <link rel='stylesheet' type='text/css' href='{% static "audioplayer/audioplayer.css" %}'>
</head>
<body>



    {% include 'navbar.html' %}

    {% include 'artist-header.html' %}

    {% include 'profile.html' %}    

{% endfor %}

</body>
</html>



