<!DOCTYPE html>

{% load static %}

<html>    
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SСсopy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "styles/main.css" %}'>

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

{% include 'navbar.html' %}

{% include 'artist-header.html' %}

{% include 'profile.html' %}    

</body>
</html>



