<div class="mini-profile-container">
    <div class="mini-profile">
        <div class="mini-profile-logo"><a href=""><img src="/media/{{ artist_info.avatar_image }}"></img></a></div> 
        <div class="mini-profile-name-block">
            <div class="mini-profile-nick-name"></div>
            <div class="mini-profile-verifed"></div>
        </div>
        <div class="mini-profile-followers"></div>
        <div class="mini-profile-location"></div>
        <div class="mini-profile-follow-button"></div>
    </div>
</div>