<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      Artist_Name 
      <div class="dropdown-divider-avatar"></div>       
    </div>    
    <div class="modal-body">        
      <img src="/static/media/logo_artist.png"></img>      
    </div>       
  </div>
</div>

<script>

var modal = document.getElementById("myModal");
var btn = document.getElementsByClassName("avatar-profile-img")[0];
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>