<div class="navbar-content-container">
    <div class="navbar-content">
        <div class="navbar-content-left">
            <div class="navbar-content-left-link"><a class="navbar-content-left-link-a" href="#">All</a></div>
            <div class="navbar-content-left-link"><a class="navbar-content-left-link-a" href="#">Popular tracks</a></div>
            <div class="navbar-content-left-link"><a class="navbar-content-left-link-a" href="#">Tracks</a></div>
            <div class="navbar-content-left-link"><a class="navbar-content-left-link-a" href="#">Albums</a></div>
            <div class="navbar-content-left-link"><a class="navbar-content-left-link-a" href="#">Playlists</a></div>
            <div class="navbar-content-left-link"><a class="navbar-content-left-link-a" href="#">Reposts</a></div>
        </div>
        <div class="navbar-content-right">
            <button class="navbar-content-right-button orange-button"><i class="fa-solid fa-chart-column" style="color: #fff;"></i>&nbsp Your Insights</button>
            <button class="navbar-content-right-button"><i class="fa-solid fa-tower-broadcast"></i>&nbsp Station</button>
            <button class="navbar-content-right-button orange-button"><i class="fa-solid fa-user-plus" style="color: #fff;"></i>&nbsp Follow</button>
            <button class="navbar-content-right-button"><i class="fa-solid fa-share-from-square"></i>&nbsp Share</button>
            <button class="navbar-content-right-button"><i class="fa-solid fa-pen"></i>&nbsp Edit</button>
            <button class="navbar-content-right-button"><i class="fa-solid fa-envelope"></i></button>
            <button class="navbar-content-right-button"><i class="fa-solid fa-ellipsis"></i></button>
        </div>
    </div>
</div>
