<div class="header">
    <div class="header__section">   
        <div class="header__item headerlogo"><a href="#">Logo</a></div>
        <div class="header__item headerButton"><a href="#">Home</a></div>
        <div class="header__item headerButton"><a href="#">Feed</a></div>
        <div class="header__item headerButton"><a href="#">Library</a></div>
    </div> 

    <div class="header__section">
        <form method="GET" action="{% url 'profile'%}">
            <input type="text" name="search" placeholder="Search"/>
        </form>
    </div>

    <div class="header__section">   
        <div class="header__item headerlogo"><a href="#">Logo</a></div>
        <div class="header__item headerButton"><a href="#">Home</a></div>
        <div class="header__item headerButton"><a href="#">Feed</a></div>
        <div class="header__item headerButton"><a href="#">Library</a></div>
    </div> 
</div>