<div class="main-content">

    <!-- nav bar -->
    <div class="navbar-content-container">{% include 'navbar-content.html' %}</div>

    <div class="main-user-content">

        <!-- left content -->
        <div class="left-content">
            <div class="artist-all left-content-inner">{% include 'artist-all.html' %}</div>
            <div class="artist-popular-tracks left-content-inner">{% include 'artist-popular-tracks.html' %}</div>
            <div class="artist-tracks left-content-inner">{% include 'artist-tracks.html' %}</div> 
            <div class="artist-albums left-content-inner">{% include 'artist-albums.html' %}</div>
            <div class="artist-playlists left-content-inner">{% include 'artist-playlists.html' %}</div>
            <div class="artist-reposts left-content-inner">{% include 'artist-reposts.html' %}</div>
        </div>

        <!-- right content -->
        <div class="right-content">            
            <div class="right-artist-info">
                {% include 'right-artist-info.html' %}
            </div>
            <div class="right-artist-like-tracks"></div>
            <div class="right-artist-following"></div>
            <div class="right-artist-last-comments"></div>
            <div class="right-artist-another-info"></div>
        </div>

    </div>  

</div>


