<div class="main-content">

    <!-- nav bar -->
    <div class="navbar-content-container">{% include 'navbar-content.html' %}</div>

    <div class="main-user-content">

        <!-- left content -->
        <div class="left-content">
            <div class="artist-all">{% include 'artist-all.html' %}</div>
            <div class="artist-popular-tracks">{% include 'artist-popular-tracks.html' %}</div>
            <div class="artist-tracks" id="artist-tracks">{% include 'artist-tracks.html' %}</div> 
            <div class="artist-albums">{% include 'artist-albums.html' %}</div>
            <div class="artist-playlists">{% include 'artist-playlists.html' %}</div>
            <div class="artist-reposts">{% include 'artist-reposts.html' %}</div>
        </div>

        <!-- right content -->
        <div class="right-content">
            RIGHT CONTENT
            <div class="artist-info"></div>
            <div class="artist-like-tracks"></div>
            <div class="artist-following"></div>
            <div class="artist-last-comments"></div>
            <div class="artist-another-info"></div>
        </div>

    </div>  

</div>


