<div class="main-content">

    <!-- nav bar -->
    {% include 'navbar-content.html' %}        

    <div class="main-user-content">

        <!-- left content -->
        <div class="left-content">            
            <!-- <div class="spotlight">SPOTLIGHT</div> -->
            <div class="artist-tracks" id="artist-tracks">
                <div class="recent-track">Recent</div>
                {% include 'audioplayer.html' %}
            </div>
        </div>

        <!-- right content -->
        <div class="right-content">
            RIGHT CONTENT
            <div class="artist-info"></div>
            <div class="artist-like-tracks"></div>
            <div class="artist-following"></div>
            <div class="artist-last-comments"></div>
            <div class="artist-another-info"></div>
        </div>

    </div>  

</div>
