<div class="right-artist-info-container">

    <div class="counter-container">
        <div class="followers-counter stat border-right">
            <a class="stat-link" href="">
                <div class="stat-title">Followers</div>
                <div class="stat-counter">80</div>
            </a>
        </div>
        <div class="following-counter stat border-right text-indent">
            <a class="stat-link" href="">
                <div class="stat-title">Following</div>
                <div class="stat-counter">100</div>
            </a>
        </div>
        <div class="tracks-counter stat text-indent">
            <a class="stat-link" href="">
                <div class="stat-title">Tracks</div>
                <div class="stat-counter">5</div>
            </a>
        </div>
    </div>
    <div class="artist-bio">
        <p class="bio-text">Hi, my name is BTS. I’m a music maker and sound designer.</p>
    </div>
    <div class="artist-social-network">
        <div class="social-network">
            <a class="social-network-link" href="">
                <span class="social-logo"><i class="fa-solid fa-earth-americas"></i></span> 
                Official Site
            </a>
        </div>
        <div class="social-network">
            <a class="social-network-link" href="">
                <span class="social-logo"><i class="fa-brands fa-facebook-f"></i></span>
                Facebook
            </a>
        </div>
        <div class="social-network">
            <a class="social-network-link" href="">
                <span class="social-logo"><i class="fa-brands fa-instagram"></i></span>
                Instagram
            </a>
        </div>
    </div>

</div>